<div class="container mt-4">
  <h2>Contact List</h2>

  <!-- Search Input -->
  <button
  class="btn btn-outline-warning mb-2"
  (click)="showFavoritesOnly = !showFavoritesOnly"
>
  {{ showFavoritesOnly ? 'Show All Contacts' : 'Show Favorites Only' }}
</button>

  <div class="mb-3">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      class="form-control"
      placeholder="Search by name, email or phone..."
    />
  </div>

  <!-- No Contacts Message -->
  <div *ngIf="filteredContacts.length === 0" class="alert alert-warning">
    No contacts found.
  </div>

  <!-- Contact Cards -->
  <div class="row">
    <div *ngFor="let contact of filteredContacts" class="col-md-6 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ contact.name }}</h5>
          <p class="card-text">
            📧 {{ contact.email }}<br />
            📞 {{ contact.phone }}
          </p>
          
          <button
            (click)="toggleFavorite(contact.id)"
            [class]="
              contact.isFavorite
                ? 'btn btn-warning btn-sm me-2'
                : 'btn btn-outline-warning btn-sm me-2'
            "
            title="Toggle Favorite"
          >
            ★
          </button>

          <button
            (click)="goToEdit(contact.id)"
            class="btn btn-outline-primary btn-sm me-2"
          >
            Edit
          </button>
          <button
            (click)="deleteContact(contact.id)"
            class="btn btn-outline-danger btn-sm"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
